/* —— Data: VirtualScroller —— */
.wd-virtualscroller {
    border: var(--wd-border-width) solid var(--wd-color-border);
    border-radius: var(--wd-radius-md);
    overflow: auto;
    position: relative;
    width: 100%;
}

.wd-virtualscroller__spacer {
    position: relative;
    width: 100%;
}

.wd-virtualscroller__content {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.wd-virtualscroller__item {
    box-sizing: border-box;
}
