.wd-radio__control {
    border-radius: var(--wd-radius-full);
}

.wd-radio__input:checked + .wd-radio__control::after {
    background: var(--wd-color-on-emphasis);
    border-radius: var(--wd-radius-full);
    content: "";
    height: 0.375rem;
    width: 0.375rem;
}
