.wi-radio__control {
    border-radius: var(--wi-radius-full);
}

.wi-radio__input:checked + .wi-radio__control::after {
    background: var(--wi-color-on-emphasis);
    border-radius: var(--wi-radius-full);
    content: "";
    height: 0.375rem;
    width: 0.375rem;
}
