.wd-icon {
    display: inline-flex;
    height: 1rem;
    width: 1rem;
}

.wd-icon svg {
    height: 100%;
    width: 100%;
}

.wd-icon--sm,
.wd-icon--small {
    height: 0.875rem;
    width: 0.875rem;
}

.wd-icon--md,
.wd-icon--normal {
    height: 1rem;
    width: 1rem;
}

.wd-icon--lg,
.wd-icon--large {
    height: 1.25rem;
    width: 1.25rem;
}

.wd-icon--spin svg {
    animation: wd-icon-spin var(--wd-motion-spin-fast) linear infinite;
}

@keyframes wd-icon-spin {
    to {
        transform: rotate(360deg);
    }
}
