/* —— Form: IconField —— */
.wd-icon-field {
    align-items: center;
    display: inline-flex;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.wd-icon-field__icon {
    align-items: center;
    color: var(--wd-color-text-muted);
    display: inline-flex;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.wd-icon-field--left .wd-icon-field__icon {
    left: var(--wd-control-padding-x-medium);
}

.wd-icon-field--right .wd-icon-field__icon {
    right: var(--wd-control-padding-x-medium);
}

.wd-icon-field--left :is(.wd-input, .wd-textarea, .wd-password__input, .wd-inputnumber__input) {
    padding-left: var(--wd-control-affix-padding);
}

.wd-icon-field--right :is(.wd-input, .wd-textarea, .wd-password__input, .wd-inputnumber__input) {
    padding-right: var(--wd-control-affix-padding);
}

.wd-icon-field--left:has(.wd-input--small, .wd-textarea--small, .wd-password--small, .wd-inputnumber--small)
    .wd-icon-field__icon {
    left: var(--wd-control-padding-x-small);
}

.wd-icon-field--right:has(.wd-input--small, .wd-textarea--small, .wd-password--small, .wd-inputnumber--small)
    .wd-icon-field__icon {
    right: var(--wd-control-padding-x-small);
}

.wd-icon-field--left:has(.wd-input--large, .wd-textarea--large, .wd-password--large, .wd-inputnumber--large)
    .wd-icon-field__icon {
    left: var(--wd-control-padding-x-large);
}

.wd-icon-field--right:has(.wd-input--large, .wd-textarea--large, .wd-password--large, .wd-inputnumber--large)
    .wd-icon-field__icon {
    right: var(--wd-control-padding-x-large);
}

.wd-icon-field--left:has(.wd-input--small, .wd-textarea--small, .wd-password--small, .wd-inputnumber--small)
    :is(.wd-input, .wd-textarea, .wd-password__input, .wd-inputnumber__input) {
    padding-left: var(--wd-control-affix-gap);
}

.wd-icon-field--right:has(.wd-input--small, .wd-textarea--small, .wd-password--small, .wd-inputnumber--small)
    :is(.wd-input, .wd-textarea, .wd-password__input, .wd-inputnumber__input) {
    padding-right: var(--wd-control-affix-gap);
}

.wd-icon-field--left:has(.wd-input--large, .wd-textarea--large, .wd-password--large, .wd-inputnumber--large)
    :is(.wd-input, .wd-textarea, .wd-password__input, .wd-inputnumber__input) {
    padding-left: calc(var(--wd-control-affix-padding) + var(--wd-space-1));
}

.wd-icon-field--right:has(.wd-input--large, .wd-textarea--large, .wd-password--large, .wd-inputnumber--large)
    :is(.wd-input, .wd-textarea, .wd-password__input, .wd-inputnumber__input) {
    padding-right: calc(var(--wd-control-affix-padding) + var(--wd-space-1));
}
